body{
    background: rgb(0,0,0);
    background: linear-gradient(150deg, rgba(0,0,0,1) 0%, rgba(215,208,208,1) 100%) no-repeat ;
    min-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

/* Navbar */
.headerLogo{
    display: inline-block;
}
.headerLogo img{
    width: 20rem;
    margin-left: .5rem;
}
.myNavbar .navDiv{
    float: right;
}
.myNavbar ul{
    padding: 0;
    margin: .75rem;
    align-self: center;
}
.myNavbar ul li{
    padding: .5rem 1rem;
    margin: 0 1rem 1rem 1rem;
    display: inline-block;
    text-align: justify;
}
.myNavbar ul li:hover{
    border-bottom: white solid 2px;
}
.myNavbar ul li a{
    font-size: 1.25rem;
}

/* Homepage sections */
.homepage-section{
    padding: 3rem 2rem;
    color: white;
    line-height: 5rem;
    letter-spacing: .125rem;
    text-transform: capitalize;
    font-variant: small-caps;
}
.laptopBanner .content{
    padding: 3rem 2rem;
}
.laptopBanner img{
    width: 45rem;
    float: right;
}
.accessoriesBanner .content{
    padding: 2rem 3rem;
    float: right;
    width: 30rem;
}
.accessoriesBanner img{
    width: 35rem;
    rotate: calc(250deg);
    padding-right: 5rem;
}
.homepage-section .shoppingButton{
    padding: 1rem;
    font-size: 1.15rem;
    background-color: black;
}
.contactUs{
    margin-top: 7rem;
}